/* CSS Document */

body
{
	margin:0px;
	padding:0px;
}
#tab
{
	width:100%;
	height:35px;
	background:#333;
	margin:0px;
}

#tab ul
{
	margin:0px;
}
#tab li
{
	list-style-type:none;
	display:inline;
	padding:5px 30px 12px 30px;
	margin:5px;
	background:#666;
}

#tab li a
{
		color:#CCCCCC;
		text-decoration:none;
		font-family:calibri;
		font-size:20px;
}
#tab li a:hover
{
	color:#FFFFFF;
}

#count_result
{
	width:150px;
	height:35px;
	float:right;
	margin-top:5px;
	border:1px solid black;
}
#type_a
{
	width:48%;
	height:200px;
	float:left;
	margin-top:40px;
	padding:10px 10px 10px 10px;
}

#type_a .a
{
	float:left;
}

#type_a .b
{
	float:right;
}

#type_b
{
	width:48%;
	height:200px;
	float:right;
	padding:10px 10px 10px 10px;
}

#type_a h2
{
	border-bottom:1px solid black;
	text-align:center;
}

#type_b h2
{
	text-align:center;
	border-bottom:1px solid black;
}

table
{
	width:600px;
}
table th
{
	border:1px solid black;
	text-align:left;
}

table td
{
	border-right:1px solid #000000;
	border-bottom:1px solid #000;
}

#cmt
{
	width:400px;
	height:150px;
	
}
#submit
{
	width:150px;
	height:35px;
}



